src/main/resources/deathmatch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://deathmatch.ws/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://deathmatch.ws/service" targetNamespace="http://deathmatch.ws/service">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://deathmatch.ws/service">
	
	<simpleType name="CommandEnum">
		<restriction base="string">
			<enumeration value="UP"/>
			<enumeration value="DOWN"/>
			<enumeration value="LEFT"/>
			<enumeration value="RIGHT"/>
			<enumeration value="WALK"/>
			<enumeration value="SHOOT"/>
			<enumeration value="INSERTCOIN"/>
		</restriction>
	</simpleType>
	
	<simpleType name="DirectionEnum">
		<restriction base="string">
			<enumeration value="UP"/>
			<enumeration value="DOWN"/>
			<enumeration value="LEFT"/>
			<enumeration value="RIGHT"/>
		</restriction>
	</simpleType>
	
	<complexType name="DeathmatchRequest">
		<sequence>
			<element maxOccurs="1" minOccurs="1" name="command" nillable="false" type="tns:CommandEnum"/>
		</sequence>
		<attribute name="player" type="int" use="optional"/>
		<attribute name="secret" type="string" use="optional"/>
	</complexType>

	<complexType name="DeathmatchResponse">
		<sequence>
			<element maxOccurs="unbounded" minOccurs="0" name="player">
				<complexType>
					<sequence>
						<element minOccurs="1" name="coords" nillable="false">
							<complexType>
								<attribute name="x" type="int"/>
								<attribute name="y" type="int"/>
							</complexType>
						</element>
						<element maxOccurs="1" minOccurs="1" name="direction" nillable="false" type="tns:DirectionEnum"/>
					</sequence>
					<attribute name="id" type="int" use="required"/>
					<attribute name="secret" type="string"/>
				</complexType>
			</element>
			<element minOccurs="0" name="error" type="string"/>
		</sequence>
	</complexType>

	<element name="DeathmatchRequest" type="tns:DeathmatchRequest"/>

</schema>
  </wsdl:types>
  <wsdl:message name="DeathmatchRequest">
    <wsdl:part element="tns:DeathmatchRequest" name="DeathmatchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeathmatchRequest">
    <wsdl:operation name="Deathmatch">
      <wsdl:input message="tns:DeathmatchRequest" name="DeathmatchRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeathmatchRequestSoap11" type="tns:DeathmatchRequest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Deathmatch">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeathmatchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeathmatchRequestService">
    <wsdl:port binding="tns:DeathmatchRequestSoap11" name="DeathmatchRequestSoap11">
      <soap:address location="http://172.20.19.161:8080/deathmatch-ws/soap/service/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>